<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        Expense List
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-success border">Add Expense</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">

    </div>
</div>